.SubmitButton{

  width: calc(100% - 20px);

  margin: 20px auto 0;

  padding: 10px;

  border: none;

  //background-color: #d4ffcf;

  font-weight: bolder;
  font-family: inherit;
  text-transform: uppercase;

  border-radius: 7px;

  cursor: pointer;

}