.CloseButton{

  display: block;

  width: 70px;
  height: 70px;

  border: none;
  background: transparent;

  margin: 0 auto;

  //align-self: center;

  cursor: pointer;

  .Svg{

    //color: white;

    width: 30px;
    height: 30px;

    padding: 20px;

  }

}