.CalcTantamareskiPriceForm{

  .Error{

    width: 80%;

    margin: auto;

    text-align: center;
    color: #ff6859;

  }

  .Success{

    width: 80%;

    margin: auto;

    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    color: #9aff7a;

  }

}